<div class="col-md-12 col-sm-12 col-lg-12">  <a style="margin-left:48%;"class="  bold loginTitle navbar-brand   glyphicon glyphicon-stats " href="#/"></a>   
</div>
<div class="col-md-offset-4 col-sm-4 col-md-4  col-lg-4 ">
    <form class="form-auth" ng-submit="login()">
        <br><br>
 
        
        <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
        <input type="submit" value="Loign" class=" col-md-offset-3 btn btn-success col-md-6" />
        <br><br>    <br>
        <p class="text-center linkDecoration"> <a  href="#/resetPassword">Reset your Password/Forget Password</a>
        </p> 
    </div>

  </form>
</div>
