

<div class="col-md-12 col-sm-12 col-lg-12">  <a style="margin-left:48%;" class=" bold loginTitle navbar-brand   glyphicon glyphicon-stats " href="#/"></a>   
</div>
<div class="col-md-offset-3 col-md-6  col-sm-4 col-lg-8 ">
        <form class="form-auth" ng-submit="reEnterPassword(pass1)">
            <br><br>
<input type="text" ng-model="pass1"  placeholder="enter new password" class="form-control"> <br>
<input type="text" ng-model="user.pass2" placeholder="Re-enter password" class="form-control "><br>
<input type="submit" value="Continue" class="btn btn-success col-sm-12" /><br><br>
</form>
</div>
